{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>
            {% block title %} Title {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<a href="{% url 'articles:list' %}">LOGO</a>
<nav>
    <ul>
        <li>
            <form class="logout-link" action="{%  url "accounts:logout" %}" method="post">
                {%  csrf_token %}
                <button type="submit">logout</button>
            </form>
        </li>
    </ul>
</nav>
{% block content %}

{% endblock %}
</body>
</html>